@font-face {
  font-family: LifeCraftFont;
  src: url("LifeCraft_Font.ttf");
}
body {  
        background-color: black;
        background-image: url("icons/bodyBackground.png");
        background-repeat: no-repeat;
        background-position: 2% 35%;
        background-size: 1366px 768px;
        background-attachment: fixed;
}
table, th, td {
    border: 2px solid white;
    color: white;
}
.topnav {
    height: 40px;
    background: linear-gradient( #D00000, black );
    padding: 0px;
    margin: 0px; 
    margin-bottom: 10px;
    z-index: 1;
    
}
.menuTiles{
    background-color: black;
    border: none;
    color: white;
    text-decoration: none;
    height: 40px;
    width: 100%;
    cursor: pointer;
}
.menuTiles:hover{
    color:red;
    transition: 0.3s;
}

ul {
    list-style-type: none;
    padding: 0px;
}
.active {
    background-color: #4CAF50;
    color: white;
}
li {
    display: inline;
    float: left;
    margin-left: 5px;
    width: 150px;

}



#mastHead{
    
    max-width: 100%;
    height:30px;
    object-fit: contain;
    margin: 3px;
    /*width:300px;*/
    /*margin-bottom: 50px;*/
/*    height: 40px;
    background-color: blue;
    text-align: center;
    vertical-align:text-top;
    position: absolute;*/
/*    font-family: LifeCraftFont;
    letter-spacing: 8px;
    color: black;*/
}

#Home {
    background-image: url("icons/Horde_15.png");
    background-repeat: no-repeat;
    background-position: 10% 50%;
}
#NewPlayerIcon{
    background-image: url("icons/newPlayersIcon.png");
    background-size: 15px 15px;
    background-repeat: no-repeat;
    background-position: 5% 50%;
}

#ShowAllPlayers{
    background-image: url("icons/ShowAllPlayersIcon.png");
    background-size: 15px 15px;
    max-width: 100%;
    max-height: 100%;
    background-repeat: no-repeat;
    background-position: 2% 50%;
}

.tableInput {
    background-color:rgba(0, 0, 0, 0.5);
    border:none;
    width: 100%;
}
.inspect{
    background-color:rgba(0, 0, 0, 0.0);
    border:none;
    width: 100%;
    height: 100%;
}
table, td {
    text-align: center;
}
.levelField {
    font-size: 18px;
    font-family: LifeCraftFont;
}